/* milestones page */

.milestone-p .milestones-section .milestone-thumb-wrap .slick-active .year-itm span {
    background-color: transparent;
}
.milestone-p .milestones-section .milestone-thumb-wrap .slick-active.slick-current .year-itm span {
    background-color: red;
}
.milestone-p .milestones-section .milestone-thumb-wrap .year-itm span{
    min-width: 100px;
    width: 100%;
    text-align: center;
}


/* News page */
.news-details-p .news-details-wrap .news-detsils-contents .social-media-sec ul{
    padding: 0px;
}
.news-details-p .news-details-wrap .news-detsils-contents .social-media-sec ul li{
    list-style-type: none;
}

.news-p .wrap-sector-banner-contnet .pagination{
    margin-bottom: 30px;
}

.news-p .wrap-sector-banner-contnet .pagination li a{
    color: #2561b5;
}
.news-p .wrap-sector-banner-contnet .pagination li span{
    background: #2561b5;
}



/*  about us */
.about-p .video-and-overview .youtube-video{
    z-index: 10;
}


/* directors */
.directors-p .group-members .wrap-group-member .wrap-group-member-containe .gp-content-tab-wrap{
    width: 54%;
    background: #e0e5ed;
}

.directors-p .group-members .wrap-group-member .wrap-group-member-containe .gp-content-tab-wrap p{
    font-size: 1rem;
}


/* media */
.media-p .wrap-sector-banner-contnet{
    /*background-image: url('../images/footer/noise-img.jpg');*/
}

.media-p  .wrap-sector-banner-contnet .container--v .sector-banner-details .wrap-sector-contnet{
    transform: translate( 0,0);
}

.media-p  .wrap-sector-banner-contnet .container--v .sector-banner-details{
    max-width: 750px;
}
.media-p .wrap-web .container--v{
    max-width: 1440px;
}
.media-p  .sector-banner-details{
    margin-top: -286px;
}


/* sector */
.sectors-p .sector-gallery .wrap-sector-gallery .swiper-button-prev{
 left: 50px;
}

.sectors-p .sector-gallery .wrap-sector-gallery .swiper-button-next{
    right: 50px;
}

.sectors-p .wrap-build-globaly .swiper-wrapper{
    justify-content: center;
}

.invester-p .sector-banner-details .wrap-sector-contnet .secotr-txt{
    padding-bottom: 30px;
}




/*responsive*/
@media(max-width: 1024px){

    .about-p .video-and-overview .youtube-video{
        width: 100%;
        padding: 0px 30px;
    }

    .sectors-p .wrap-build-globaly .swiper-wrapper{
        justify-content: normal;
    }

    .thumbSlider-wrap .btn-next{
        right: -15px;
        z-index: 10;
    }
    .thumbSlider-wrap .btn-prev{
        left: -15px;
        z-index: 10;
    }
}


/*------------------------------------------*/

:root {
     --background: #f5f6fa;
     --page-title: #3b3b98;
     --btn: #dcdde1;
     --btn-text: #b33771;
     --btn-text-hover: #dcdde1;
     --btn-bkg: #b33771;
     --btn-fill: transparent;
     --nav-bkg: rgba(245, 246, 250, 0.75);
     --nav-logo: #b33771;
     --nav-border: rgba(245, 246, 250, 0.2);
     --header-bkg: #3b3b98;
     --bio-text: #fff;
     --bio-bkg: #182c61;
     --bio-bkg-hover: #b33771;
     --name-text: #2c3a47;
     --name-text-hover: #3b3b98;
 }

.dark:root {
    --background: #182c61;
    --page-title: #fff;
    --btn-text: #dcdde1;
    --btn-text-hover: #dcdde1;
    --btn-bkg: #273c75;
    --btn-fill: #dcdde1;
    --nav-bkg: rgba(24, 44, 97, 0.75);
    --nav-logo: #fff;
    --nav-border: rgba(24, 44, 97, 0.2);
    --header-bkg: #6d214f;
    --bio-text: #fff;
    --bio-bkg: #b33771;
    --bio-bkg-hover: #3b3b98;
    --name-text-hover: #b33771;
}

/** {*/
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.team-wrap {
    /*background: var(--background);*/
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

/*button {*/
    /*border: 0;*/
    /*background: none;*/
    /*fill: var(--btn-fill);*/
    /*color: var(--btn-text);*/
    /*line-height: 0;*/
    /*padding: 0.8rem;*/
    /*border-radius: 2rem;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: 0.2s ease;*/
/*}*/
/*button:hover {*/
    /*cursor: pointer;*/
    /*background: var(--btn-bkg);*/
    /*fill: var(--btn-fill);*/
    /*color: var(--btn-text-hover);*/
/*}*/

.team-wrap {
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 2rem;
    /*position: absolute;*/
    top: 130px;
    font-family: Assistant;
}


.team-title {
    color: var(--page-title);
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 0;
}

.leadership {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 32em) {
    .leadership {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 50em) {
    .leadership {
        grid-template-columns: repeat(3, 1fr);
    }
}
.leadership .leader {
    width: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
@media (min-width: 32em) {
    .leadership .leader {
        max-width: 300px;
    }
}
.leadership .leader:hover {
    cursor: pointer;
}
.leadership .leader:hover .leader__bio {
    background-color: var(--bio-bkg-hover);
}
.leadership .leader:hover .leader__img img {
    transform: scale(140%);
    filter: saturate(100%);
}
.leadership .leader:hover .leader__name {
    color: var(--name-text-hover);
}
.leadership .leader__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: var(--header-bkg);
    color: #fff;
}
.leadership .leader__exp {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.leadership .leader__exp .years {
    font-size: 5rem;
    margin-right: 8px;
    font-weight: 700;
}
.leadership .leader__bio {
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--bio-text);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--bio-bkg);
    transition: 0.2s all ease-in-out;
}
.leadership .leader__img {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
}
.leadership .leader__img img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    filter: saturate(0%);
    transform: scale(130%);
    transition: 0.2s all ease-in-out;
}
.leadership .leader__name {
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    color: var(--name-text);
}
@media (min-width: 32em) {
    .leadership .leader__name {
        font-size: 1rem;
    }
}
@media (min-width: 50em) {
    .leadership .leader__name {
        font-size: 1rem;
    }
}
.leadership .leader__name h2 {
    font-size: 1rem;
}
@media (min-width: 32em) {
    .leadership .leader__name h2 {
        font-size: 1rem;
    }
}
@media (min-width: 50em) {
    .leadership .leader__name h2 {
        font-size: 1rem;
    }
}